@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --bg: transparent;
  --color: rgb(255, 255, 255);
  --font: "Commissioner", sans-serif;
  --hover: rgba(255, 255, 255, 0.5);
  --primary-dark: #000000;
  --primary-bg: #ffffff;
  --primary-hover: rgb(231, 213, 44);
  --primary-light: rgba(0, 0, 0, 0.7);
}
header div {
  height: 2rem;
}

html {
  font-size: 18px;
  min-height: 100%;
}

body {
  padding: 0px;
}
.overline {
  margin-bottom: 0;
}
h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

main p.has-text-align-left {
  max-width: 740px;
  margin: 1rem auto;
}

a {
  color: var(--primary-dark);
}

a:hover {
  color: var(--primary-hover);
}

.wp-block-video {
  width:100%;
  height:auto;
  justify-content: center;
}

.wp-block-video video {
  object-fit: cover!important;
  width: 100%;
}

.wp-block-image img {
  object-fit: cover!important;
  height: auto!important;
}

.light {
  fill: var(--primary-dark) !important;
  color: var(--primary-dark) !important;
}

.dark {
  fill: white;
  color: white;
}

.dark:hover {
  fill: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.light:hover {
  fill: var(--primary-hover) !important;
  color: var(--primary-hover) !important;
}

body {
  font-family: var(--font);
  overflow-x: hidden;
  color: var(--primary-dark);
  background-color: var(--primary-bg);
}

.container {
  max-width: 1200px;
}

.hero {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding-top: 1rem;
}

.hero-flight {
  position: relative;
  margin-top: 0vh;
  width: 100%;
  height: 300px;
  background-image: url("../common/background.png");
  animation: barberpole 15s linear infinite;
  background-repeat: repeat;
  background-size: 900px;
  background-color: rgb(231, 213, 44);
  margin-bottom: 0;
}

.red {
  background-color: rgb(133, 13, 13);
}

.gray {
  color: rgba(0, 0, 0, 0.575);
}

.gray:hover {
  color: rgba(0, 0, 0, 0.377);
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0 !important;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 50px;
  background: var(--bg);
}

.big-nav {
  height: calc(7rem + 2vw) !important;
}

.logo {
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: 400;
}

.logo:hover {
  text-decoration: none;
}

#logo {
  height: 200px;
}

ul a {
  text-decoration: none;
  color: var(--primary-dark);
}

ul a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.nav-links a {
  color: var(--color);
  text-decoration: none;
  padding: 0px 0px;
  font: normal 400 1rem var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
  z-index: 999;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--color);
  margin: 5px;
  transition: all 0.2s ease;
  transform: rotate(180deg);
}

.burger:hover div {
  background-color: var(--hover);
}

.black {
  background-color: var(--primary-dark) !important;
}

.image {
  margin: auto;
  max-width: 900px;
}

.brand {
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  background-position: center;
  color: white;
}

.brand-black {
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  background-position: center;
}

.button {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.button.hide {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}
.button:hover .uparrow {
  stroke: var(--primary-hover);
}
.uparrow {
  fill: none;
  stroke: var(--primary-dark);
}

.fixedPosition {
  position: fixed !important;
}

.card {
  border: none;
  background-color: transparent;
}

.card:hover .card-img {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}
.card-img-overlay {
  opacity: 0;
  transition: all 0.3s ease;
}
.card-img-overlay:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.card-body a {
  color: var(--primary-dark) !important;
}

.card-body:hover a {
  text-decoration: none;
  color: var(--primary-hover);
}
.card-body p.overline {
  font: 400 12px "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0.2rem;
}

a:hover .overline {
  text-decoration: none;
}

.overline:hover {
  text-decoration: none;
}

h5.card-title {
  font: 400 24px var(--font);
}

.card:hover .card-body p.overline + h5 {
  color: var(--primary-hover);
}

.card:hover .card-body .card-title {
  text-decoration: underline;
}

.spacer {
  width: 100%;
  height: 10vw;
}

.footer {
  width: 100%;
  padding: 30px;
  min-width: 300px;
  min-height: 200px;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto 0;
}

.footer-links {
  min-width: 400px;
  height: 100px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.social a {
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.copyright {
  padding-top: 30px;
  font: normal 300 13px Arial;
  color: rgba(0, 0, 0, 0.575);
}

.btn-outline-dark {
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}
.btn-outline-dark:hover {
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
  color: var(--primary-bg);
}

@media screen and (max-width: 900px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* mask: url('../img/mask.svg');
      mask-mode: alpha;
      mask-size: cover; */
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    font-family: var(--font);
    font-weight: 200;
    z-index: 1;
  }
  .nav-links-black {
    background: var(--primary-bg) !important;
  }

  .nav-links li {
    opacity: 0;
    font-size: 3rem;
  }

  .nav-links a {
    color: var(--primary-dark);
    text-decoration: none;
    font: normal 300 1.5rem var(--font);
    letter-spacing: 0.1rem;
    text-transform: none;
  }

  .nav-links a.dark:hover {
    color: var(--primary-hover);
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .footer-links {
    display: flex;
    flex-grow: 1;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
  }

  .lead {
    font-size: 1rem;
  }

  /* 
  .button.show.floating::after {
      position:fixed;
      z-index:998;
      content:  "" ;
      width: 95px;
      height: 95px;
      border-radius: 50rem;
      border: 2px solid var(--primary-dark);
      transform: translateX(-86px);
      transition: all; 
  } */
}

/* SM */
@media screen and (max-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .card-columns .card {
    margin-bottom: 1rem;
  }

  .display-3 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* MD */
@media screen and (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3rem;
  }

  .card-columns .card {
    margin-bottom: 5rem;
  }
}
/* LG */
@media screen and (min-width: 992px) {
  .card-columns {
    column-gap: 10rem;
  }
  .wp-block-video {
    width:50%;
  }
}

/* XL */
@media screen and (max-width: 1200px) {
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    color: white;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    color: var(--primary-dark);
  }
}

.floating:hover {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@keyframes barberpole {
  0% {
    background-position: 0 0;
  }
  /* translate to height of background image */
  100% {
    background-position: 900px 900px;
  }
}

@-webkit-keyframes barberpole {
  0% {
    background-position: 0 0;
  }
  /* translate to height of background image */
  100% {
    background-position: 900px 900px;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color: var(--primary-dark);
  z-index: 999;
}

.toggle .line2 {
  opacity: 0;
  z-index: 999;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: var(--primary-dark);
  z-index: 999;
}

.toggle:hover div {
  background-color: var(--primary-hover);
}
