@import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --bg: transparent;
  --color: rgb(255, 255, 255);
  --font: "Poppins", sans-serif;
  --hover: rgba(255, 255, 255, 0.5);
  --primary-dark: #390f1a;
  --primary-bg: #e2d6e1;
  --primary-hover: #9d4e63;
  --primary-light: rgba(57, 15, 26, 0.7);
}

html {
  font-size: 16px;
}

.light {
  fill: var(--primary-dark) !important;
  color: var(--primary-dark) !important;
}

.dark {
  fill: white;
  color: white;
}

.dark:hover {
  fill: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.light:hover {
  fill: var(--primary-hover) !important;
  color: var(--primary-hover) !important;
}

body {
  font-family: var(--font);
  overflow-x: hidden;
  color: var(--primary-dark);
  background-color: var(--primary-bg);
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.container {
  max-width: 768px;
}

.hero {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 50px;
  background: var(--bg);
}

.big-nav {
  height: calc(7rem + 2vw) !important;
}

.logo {
  color: var(--color);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: calc(100px + 5vw);
  height: calc(100px+ 5vw);
}

#logo {
  height: 200px;
}

ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-dark);
}

ul a:hover {
  color: var(--primary-hover);
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.nav-links a {
  color: var(--color);
  text-decoration: none;
  padding: 0px 0px;
  font: normal 400 1rem var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
  z-index: 999;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--color);
  margin: 5px;
  transition: all 0.2s ease;
  transform: rotate(180deg);
}

.burger:hover div {
  background-color: var(--hover);
}

.black {
  background-color: var(--primary-dark) !important;
}

.image {
  margin: auto;
  max-width: 900px;
}

.brand {
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  background-position: center;
  color: white;
}

.brand-black {
  width: calc(80px + 5vw);
  height: calc(80px + 5vw);
  background-position: center;
}

.button {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.button.hide {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}
.button:hover .uparrow {
  stroke: var(--primary-hover);
}
.uparrow {
  fill: none;
  stroke: var(--primary-dark);
}

.fixedPosition {
  position: fixed !important;
}

.card {
  border: none;
  background-color: transparent;
}

.card:hover .card-img {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}
.card-img-overlay {
  opacity: 0;
  transition: all 0.3s ease;
}
.card-img-overlay:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.card-body a {
  color: var(--primary-dark) !important;
}

.card-body:hover a {
  text-decoration: none;
  color: var(--primary-hover);
}
.card-body p.overline {
  font: 400 12px "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0.2rem;
}

a:hover .overline {
  text-decoration: none;
}

.overline:hover {
  text-decoration: none;
}

h5.card-title {
  font: 400 24px var(--font);
}

.card:hover .card-body p.overline + h5 {
  color: var(--primary-hover);
}

.card:hover .card-body .card-title {
  text-decoration: underline;
}

.spacer {
  width: 100%;
  height: 10vw;
}

.footer {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 30px;
}

.footer-links {
  min-width: 400px;
  height: 100px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.social a {
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.footer .copyright {
  padding-top: 30px;
  font: normal 300 13px Arial;
  color: var(--primary-light);
}

.btn-outline-dark {
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}
.btn-outline-dark:hover {
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
  color: var(--primary-bg);
}

@media screen and (max-width: 900px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* mask: url('../img/mask.svg');
      mask-mode: alpha;
      mask-size: cover; */
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    font-family: var(--font);
    font-weight: 200;
    z-index: 1;
  }
  .nav-links-black {
    background: var(--primary-bg) !important;
  }

  .nav-links li {
    opacity: 0;
    font-size: 3rem;
  }

  .nav-links a {
    color: var(--primary-dark);
    text-decoration: none;
    font: normal 300 1.5rem var(--font);
    letter-spacing: 0.1rem;
    text-transform: none;
  }

  .nav-links a.dark:hover {
    color: var(--primary-hover);
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .footer-links {
    display: flex;
    flex-grow: 1;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
  }

  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .lead {
    font-size: 1rem;
  }

  /* 
  .button.show.floating::after {
      position:fixed;
      z-index:998;
      content:  "" ;
      width: 95px;
      height: 95px;
      border-radius: 50rem;
      border: 2px solid var(--primary-dark);
      transform: translateX(-86px);
      transition: all; 
  } */
}

/* SM */
@media screen and (max-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* MD */
@media screen and (max-width: 768px) {
}

/* LG */
@media screen and (max-width: 992px) {
}

/* XL */
@media screen and (max-width: 1200px) {
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    color: white;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    color: var(--primary-dark);
  }
}

.floating:hover {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  background-color: var(--primary-dark);
  z-index: 999;
}

.toggle .line2 {
  opacity: 0;
  z-index: 999;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
  background-color: var(--primary-dark);
  z-index: 999;
}

.toggle:hover div {
  background-color: var(--primary-hover);
}
